<app-navbar class="fixed top-0 left-0 w-full z-50"></app-navbar>

<div class="flex mt-16">
  <!-- Barra lateral fija -->
  <div class="w-1/4 fixed left-0 top-16 h-screen">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Contenedor del dashboard -->
  <div class="w-3/4 ml-[20%] container mx-auto p-4">
    <img src="main.PNG" alt="logo.png" class="w-full h-[400px] object-fill rounded-md" />
    <h1 class="text-2xl font-bold mb-4">Dashboard de Productos</h1>

    <!-- Mensaje si no hay productos -->
    <p *ngIf="products.length === 0" class="text-red-500 text-center">No hay productos disponibles.</p>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      @for (product of products; track product.idProducto) {
        <div class="bg-white shadow-lg rounded-lg p-4">
          <!-- Corrección: Agregar width y height para evitar NG02954 -->
          <img [ngSrc]="obtenerImagenUrl(product.imagenUrl)"
               class="w-[300px] h-[260px] object-cover rounded-md"
               alt="{{ product.nombre }}"
               width="300" height="260" />

          <h2 class="text-lg font-semibold mt-2">{{ product.nombre }}</h2>
          <p class="text-gray-600">Precio: ${{ product.precio }}</p>
          <button (click)="comprarProducto(product)"
                  class="mt-2 bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">
            Comprar
          </button>

        </div>
      }
    </div>
  </div>
</div>
